body
{
    background-color: rgb(230, 61, 39);
}
.change
{
    background-color: rgba(50, 100, 100);
    color: white;
    padding: 18px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.daychange
{
    position: relative;
    display: inline-block;
}
.days
{
    display: none;
    position: absolute;
    background-color: rgba(50,100,100);
    min-width: 169px;
    z-index: 1;
}
.cm 
{
    min-width: 169px;
    background-color: rgba(50, 100, 100);
}
.ct 
{
    min-width: 169px;
    background-color: rgba(50, 100, 100);
}
.cw 
{
    min-width: 169px;
    background-color: rgba(50, 100, 100);
}
.cT 
{
    min-width: 169px;
    background-color: rgba(50, 100, 100);
}
.cf 
{
    min-width: 169px;
    background-color: rgba(50, 100, 100);
}
.cs 
{
    min-width: 169px;
    background-color: rgba(50, 100, 100);
}
.cS 
{
    min-width: 169px;
    background-color: rgba(50, 100, 100);
}
/*.cm:hover 
{
    color: black;
    padding: 20px, 16px;
    text-decoration: none;
    display: block;
}*/
.cm:hover 
{
    background-color: rgba(10,170,120);
}
.ct:hover 
{
    background-color: rgba(10,170,120);
}.cw:hover 
{
    background-color: rgba(10,170,120);
}.cT:hover 
{
    background-color: rgba(10,170,120);
}.cf:hover 
{
    background-color: rgba(10,170,120);
}.cs:hover 
{
    background-color: rgba(10,170,120);
}.cS:hover 
{
    background-color: rgba(10,170,120);
}
.daychange:hover .days
{
    display: block;
}
.daychange:hover .change
{
background-color: rgba(10, 170, 120);
}