.thumb
{
    height: 100px;
    cursor: pointer;
    margin: 10px;
    margin-bottom: 40px;
}
#thumbnails
{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
}
body
{
    background-image: url("../images/redcurtains.jpg");
    background-repeat: no-repeat;
}
#largeImage
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    display: none;
    justify-content: center;
    align-items: center;
}
#largeImage > img
{
    max-width: 90%;
    max-height: 90%;
}
#colormenu
{
    display: none;
}
#colorchange
{
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
}
#x
{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 94%;
    margin-top: 2% ;
    width: 5%;
    height: 5%;
    display: none;
    z-index: 2;
    
}
.mainsec
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #EAEAEA;
    height: 1020px;
}