body
{
    background-image: url("../images/redcurtains.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.mainsec
{
    width: 840px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EAEAEA;
    height: 100%;
    padding-bottom: 50px;
}
.thumb
{
    height: 100px;
    cursor: pointer;
    margin: 50px;
    margin-bottom: 40px;
    box-shadow: #EAEAEA;
}
#thumbnails
{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
}
img:not(#settingslogo,#x)
{
    border: 2px black;
    box-shadow: 10px 10px 10px rgb(14, 14, 14);
}
#largeImage
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    display: none;
    justify-content: center;
    align-items: center;
}
#largeImage > img
{
    max-width: 90%;
    max-height: 90%;
}
#x
{
    position:fixed;
    top: 0;
    left: 0;
    margin-left: 94%;
    margin-top: 2% ;
    width: 5%;
    height: 5%;
    display: none;
    z-index: 2;
    
}
@media screen and (max-width: 1000px)
{
    .mainsec
    {
        width: 600px;
    }
}
@media screen and (max-width:710px) 
{
    .casinoname
    {
        font-size: 40px;
    }
    .mainsec
    {
        width: 354px;
    }   
    #settings
    {
        width: 135%;
    } 
}

@media screen and (max-width: 450px)
{
    .mainsec
    {
        width: 240px;
    }
}
