/*Styling applied only on index.html*/
body
{
    background-image: url("../images/casinobg.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
}
.mainsec
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #EAEAEA;
}
#days
{
    width: 40%;
    margin:auto;
    background-color: #e8c1ff;
    border-radius: 15px;
    margin-bottom: 10px;
    font-size: 18px;
}
#texto
{
    width: 90%;
    margin: auto;
    text-align: center; 
}
#olduser,#newuser
{
    display: none;
    font-size: 30px;
}
#makeuser
{
    display: block;
    align-items: center;
    text-align: center;
    margin-top: 60px;
}
#firstname, #lastname, #age
{
    background-color: #cad8ff;
    margin: 10px;
    border-radius: 6px;
    font-size: 30px;
    text-align: center;
}
#submit-btn
{
    margin: 10px;
    border-radius: 10px;
    background-color: #cad8ff;
    width: 30%;
    font-size: 30px;
    text-align: center;
}
#out
{
    text-align: center;
    font-size: 30px;
    width: 70%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
}
#selection
{
    text-align: center;
    font-size: 20px;
    padding-bottom: 40px;
}
.icon
{
    width: 18%;
    display: flex;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}
@media screen and (max-width: 1000px)
{
    #firstname, #lastname, #age, #submit-btn
    {
        font-size: 22px;

    }
}
@media screen and (max-width: 630px)
{
    .mainsec
    {
        width: 80%;
    }
    #texto,#olduser,#newuser
    {
        font-size: 18px;
    }
    #out
    {
        font-size: 20px;
    }
    
}
@media screen and (max-width: 440px)
{
    body
    {
        background-image: none;
    }
    .mainsec
    {
        width: 90%;
    }
}