/* Site-wide styling here */
body 
{
    background-color: rgb(238, 255, 190); /* Bara för att testa, ÄNDRA eller ta bort! */
    
}
.casinoname
{
    text-align: center;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}
#out
{
    padding: 20px;
}
.open
{
    display: flex;
}
#textclosed
{
    display: none;
}
#openIn
{
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
}