/* Site-wide styling here */
body  
{
    background-color: #eaeaea; /* Bara för att testa, ÄNDRA eller ta bort! */
}
.casinoname
{
    text-align: center;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}
.stylenav
{
    display: block;
    background-color: #888787;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
#settingslogo
{
    width: 40px;
    display: flex;
}
#settings
{
    display: none; 
    flex-flow: column;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
#settings-btn
{
    border: none;
    border-radius: 10px;
    width: 10%;
    height: 10%;
}
#colors
{
    cursor: pointer;
    width: 40%;
    margin: auto;
    margin-bottom: 10px;
    background-color: #e8c1ff;
    border-radius: 15px;
    font-size: 18px;
}
#divred, #divblue, #divgreen
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.clock
{
    display: block;
    font-size: 24px;
    text-align: center;
}
.foot
{
    background-color: black;
    height: 200px;
    margin: 0;
    font-size: 14px;
    bottom: 0;
}

@media screen and(max-width:900px)
{
    .clock
    {
        font-size: 18px;
    }
    
}
@media screen and (max-width:580px)
{
    .casinoname
    {
        font-size: 36px;
    }
    .clock
    {
        font-size: 18px ;
    }
    #settingslogo
    {
        width: 30px;
    }
}
