/* Om en undersida behöver egen CSS (som endast gäller den) kan du ha den i en skild fil */
body
{
    background-color: #eaeaea;
}
.gameButton {
    width: 33%;
    background-color: transparent;
    border: 0;
}
.gameButton img {
    height: 300px;
    width: 100%;
}
